[Desktop Entry]
Name=TiempoBus
Comment=Alicante(Spain) Bus Tracker
Exec=/usr/bin/qmlscene $@ /usr/share/tiempobus/tiempobus.qml
Icon=/usr/share/tiempobus/ic_tiempobus_3-web.png
#Para paquete click: Icon=ic_tiempobus_3-web.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
X-Ubuntu-StageHint=SideStage
#Para paquete click: X-Ubuntu-Gettext-Domain=com.ubuntu.developer.alberapps.tiempobus
X-Ubuntu-Gettext-Domain=tiempobus
