[Desktop Entry]
Name=TiempoBus
Comment=My project description
Exec=/usr/bin/qmlscene $@ /usr/share/tiempobus/TiempoBus.qml
Icon=/usr/share/tiempobus/ic_tiempobus_3-web.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
