[Desktop Entry]
Name=TiempoBus
Comment=Alicante(Spain) Bus Tracker
Exec=qmlscene $@ main.qml
#Exec=/usr/bin/qmlscene $@ /usr/share/tiempobus/main.qml
Icon=tiempobus.png
Terminal=false
Type=Application
X-Ubuntu-Touch=true
#X-Ubuntu-StageHint=SideStage
#X-Ubuntu-Gettext-Domain=com.ubuntu.developer.alberapps.tiempobus

