Source: tiempobus
Section: misc
Priority: extra
Maintainer: Alberto Montiel <alberapps@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://alberapps.blogspot.com
Vcs-Git: https://github.com/alberapps/tiempobus-ubuntusdk.git
Vcs-Browser: https://github.com/alberapps/tiempobus-ubuntusdk

Package: tiempobus
Architecture: all
Depends: ${misc:Depends},qtdeclarative5-localstorage-plugin,qtdeclarative5-qtquick2-plugin,qtdeclarative5-ubuntu-ui-toolkit-plugin|qt-components-ubuntu,qtdeclarative5-xmllistmodel-plugin,${shlibs:Depends},qmlscene
Description: TiempoBus
 Consulta dinámica de tiempos de paso, para las lineas del TAM, de Alicante(Spain) e interurbanas(El Campello, San Juan, San Vicente del Raspeig y Mutxamel), Lanzaderas a la Universidad de Alicante, Autobús Turístico, Playa San Juan, etc.
